@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green,
.red {
  text-decoration: none;
  transition: 0.3s;
  padding: 3px;
}

.red {
  color: rgb(255, 58, 68);
}

a,
.green {
  color: hsla(160, 100%, 37%, 1);
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
